
hr {
	color: orange;
	opacity: 0.3;

}

html {
  	line-height: 1.15; /* 1 */
  	-webkit-text-size-adjust: 100%; /* 2 */
  	color: black;
}

a { 
  	color: white; 
}



header {
	background-color: white;
	padding: 36px;
	margin-left: auto;
  	margin-right: auto;
	display: grid;
  	grid-template-columns: repeat(3, 1fr);
  	grid-auto-rows: minmax( 50px, auto);
  	grid-gap: 20px;
}

body {
  	margin: 0;
  	background-color: grey;
}

main {
	background-color: white;
	padding: 36px;
	margin-left: auto;
  	margin-right: auto;
  	display: grid;
  	grid-template-columns: repeat(3, 1fr);
  	grid-auto-rows: minmax( 50px, auto);
  	grid-gap: 20px;
}

h2 {
	color: blue;
}

h4 {
	color: grey;
	text-align: right;
	padding-right: 10px;
}

footer {
	background-color: blue;
	height: auto;
	margin-left: auto;
  	margin-right: auto;
  	line-height:60px;

}

.title {
	text-transform: uppercase;
	font-weight: 900;
	color: blue;
	background-color: white;
	letter-spacing: -5px;
	font: 56px monospace;
}

.eyelet {
	padding-left: 150px ;
	background-color: white;
	color: orange;
	font-weight: 900;
	font-size: 20px;
	display:flex;

}

.title-area {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	padding: 25px 0px 25px 50px;
}

.login-area {
	text-align: center;
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	padding: 0px 20px 0px 0px;
}

.navigator-primary {
	grid-column: 1 / 4; 
	grid-row: 2 / 3;
}

.primary-linkes {
	display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 0px 0px 0px 30px;
	/*border: groove;*/
	border-radius: 8px;
	padding: 3px 5px 3px 5px;
	/*background-color: blue;*/
	/*border-color: blue;*/
	background: linear-gradient(white, blue 80%);

}

.primary-linkes a {
	text-decoration: none;	
	transition: all 0.4s;
	text-align: center;

}

.primary-linkes a:hover {
	background-color: rgba(255,165,0,.6);	
	text-align: center;
	border-radius: 8px;
}

.primary-linkes a:active {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 2, 0.75);
} 

.text-search {
}

.sign {
	font-family:  Verdena;
	padding: 2px 5px 2px 5px;
	border: groove;
	border-radius: 8px;
	background-color: white;
	color: blue;
	text-decoration: none;	
	transition: all 0.4s;
}

.sign:hover {
	background-color: rgba(255,165,0,.6);	
	border-radius: 8px;
}

.sign:active {
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 2, 0.75);

}

.logout {	
	font-family:  Verdena;
	font-weight: 700px;
	padding: 2px 5px 2px 5px;
	border: groove;
	border-radius: 8px;
	border-color: blue;
	background-color: white;
	color: orange;
	text-decoration: none;
	transition: all 0.4s;
}

.logout:hover {
	background-color: rgba(0,0,255,.6);	
	border-radius: 8px;
}	

.logout:active {
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 2, 0.75);	
}

.main-bar {
 grid-column: 1 / 3;
}

.side-bar {
	grid-column: 3 / 4;
}

.side-bar.h2

.text {
}

.side-text{
}

.side-image{
width: 300px;	
}

.main-bar{
	padding: 0px 40px 20px 40px;
}

.standard-image{
	width: 400px;
	display: block;
	margin-left: auto;
 	margin-right: auto;
}

.standard-article {
	padding-top: 30px;
	padding-bottom: 30px;
}

.contact {
	/*z-index: 12;*/
	padding: 0px 36px 0px 36px;
	background: linear-gradient(white 16%, blue);
}

.contact h2 {
	margin: 0;
	color:orange;
	line-height: 14px;
}

.contact-element {
	font-size: 16px;
	height: 40px;
}


.wrapper {
	width: 868px;
	margin: auto;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 2, 0.75);
	margin-top: 13px;
	margin-bottom:26px;
}

.copyright {
	text-align: right;
	font-size: 16px;
}

.copyright a {
	background: transparent;
}


.toolpip {
	display: inline-block;
	position: relative;
	margin-top: 20px;
	width:30px;
	height: 30px;
	/*background-color: white;*/
}

.button {
	margin-bottom: 6px;
	width: 30px;
	
}

span {
	z-index: 1;
	position: absolute;
	visibility:hidden;
	left: 40px;
	color: black;
	line-height: 20px;
}
.toolpip:hover span{
	visibility:visible;
}

.button:hover {
	background-color: orange;
	border-radius: 15px;
}

.button:active {
	margin-top: 1px;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 2, 0.75);
} 

.minititle {
	margin-left: 130px;
	text-transform: uppercase;
	font-weight: 900;
	color: blue;
	background-color: white;
	letter-spacing: -5px;
	font: 30px monospace;
}


.wrapform {
	width: 868px;
	display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 61px;

}
.form-sign-in {
	color: blue;
	grid-column: 2 / 4;
}


.form-sign-in div {
	padding-top: 10px;
}

.form-sign-in button {
	color: blue;
}


.error {
	grid-column: 4 / 5;
}